
table.image {
  margin: 0 auto;
}

.bordered {
  border: 1px solid #999;
}

table.image img {
  margin: 5px;
  padding: 0;
}

table.image caption {
  font-style: italic;
  font-size: smaller;
  text-align: center;
  padding: 5px;
}
