<div>


  <script type="text/golf">
    
    function() {

	$.require("jquery.tweet");

	$("#search_form").submit(function(){
	    
	    var name = $('#username_fld').val();
	    $('.twitter_component').tweet({
		username: name,
		count: 30
	    });
	    
	});
	


	$('.twitter_component').tweet({
	    username: 'golf',
	    count: 30
	});
	
   	

	
    };
    
  </script>

  <form id="search_form">
    <p>username</p>
    <input id="username_fld" type="text" name="username" />
    <input type="submit" value="submit">
  </form>

  <div class="twitter_component">
  </div>

</div>
